@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f7f5;
  padding: 25px 25px;
}
.button {
  padding: 0.75rem 1rem;
  background-color: #3b82f6;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 5px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
}
.card .male {
  display: block;
  border: 3px solid #6ee7b7;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
.card .female {
  display: block;
  border: 3px solid #fca5a5;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
.card .name {
  display: block;
}
.card .email {
  color: #666;
  margin-top: -5px;
  margin-bottom: 5px;
}
